*.py[cod]

# C extensions
*.so

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
lib
lib64

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
nosetests.xml

# Translations
*.mo

# Mr Developer
.mr.developer.cfg
.project
.pydevproject

.cproject
.settings/
g2o/g2o_src/
g2o/include/
g2o/rospack_nosubdirs
rm_localization/msg_gen/
rm_localization/src/rm_localization/
rm_localization/srv_gen/
rm_multi_mapper/debug.txt
rm_multi_mapper/msg/G2oWorkerAction.msg
rm_multi_mapper/msg/G2oWorkerActionFeedback.msg
rm_multi_mapper/msg/G2oWorkerActionGoal.msg
rm_multi_mapper/msg/G2oWorkerActionResult.msg
rm_multi_mapper/msg/G2oWorkerFeedback.msg
rm_multi_mapper/msg/G2oWorkerGoal.msg
rm_multi_mapper/msg/G2oWorkerResult.msg
rm_multi_mapper/msg_gen/
rm_multi_mapper/src/rm_multi_mapper/
sophus/include/
sophus/rospack_nosubdirs
sophus/sophus_src/

