<!--
  Collection of robot-centric definitions and nodes for the turtlebot. 
 -->
<launch>
  
  <arg name="urdf_file" default="$(find xacro)/xacro.py '$(find rm_description)/urdf/cloudbot.urdf.xacro'" />
  <param name="robot_description" command="$(arg urdf_file)" />

  <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher">
    <param name="publish_frequency" type="double" value="30.0" />
  </node>
</launch>
