<!-- RGB-D Visual odometry -->

<launch>

  <node pkg="image_transport" type="republish" name="rgb_decompression" 
    args="compressed in:=/rgb/image_raw raw out:=/rgb/image_decompressed" />
    

  <node pkg="image_transport" type="republish" name="depth_decompression" 
    args="compressedDepth in:=/depth/image_raw raw out:=/depth/image_decompressed" />



</launch>

