<launch>


<arg name="tf_prefix" default="$(env HOSTNAME)" />


  <group ns="$(arg tf_prefix)">

  <node pkg="ccny_rgbd" type="keyframe_sender" name="keyframe_sender_node" 
    output="screen">
 
    <remap from="/rgbd/depth" to="/depth/image_raw"/>
    <remap from="/rgbd/rgb"   to="/rgb/image_raw"/>
    <remap from="/rgbd/info"  to="/rgb/camera_info"/>
    

    <param name="tf_prefix" value="$(arg tf_prefix)" />       
    <param name="kf_dist_eps"  value="0.25"/> <!-- 25 cm -->
    <param name="kf_angle_eps" value="0.35"/> <!-- 20 deg -->


  </node>
  
  </group>

</launch>
