<!-- Odometry validation / Needs a bag file at rm_localization/test named camera_msgs.bag (converted bag files from http://vision.cs.tum.edu/data/datasets/rgbd-dataset with vgatoqvga.py -->

<launch>

	<param name="use_sim_time" value="true" type="bool"/>
	
	<group ns="cloudbot0">
		<node pkg="rm_localization" type="localization" respawn="true" name="localization" output="screen" cwd="node" />
		<node pkg="tf" type="static_transform_publisher" name="base_footpring_tf" args="0 0 0 0 0 0 /base_footprint /openni_camera 33" />
	</group>

	<node pkg="rosbag" type="play" name="camera" args="$(find rm_localization)/test/camera_msgs.bag --clock" respawn="false"/>

</launch>
