<launch>
	<arg name="prefix" default="$(env HOSTNAME)" />
	<group ns="$(arg prefix)">
		<param name="robot/name" value="$(optenv ROBOT turtlebot)"/>
		<param name="robot/type" value="turtlebot"/>
		<param name="tf_prefix" value="$(arg prefix)" />
		<include file="$(find rm_launch)/launch/_mobile_base.launch" />
		<include file="$(find rm_launch)/launch/_robot.launch" />
		<node pkg="turtlebot_actions" type="turtlebot_move_action_server" name="move_action_server">
			<remap from="move_action_server/cmd_vel" to="mobile_base/commands/velocity"/>
			<remap from="move_action_server/turtlebot_move" to="turtlebot_move"/>
			<param name="base_frame" value="base_footprint"/>
			<param name="odom_frame" value="odom"/> 
			<param name="turn_rate" value="0.3"/>
			<param name="forward_rate" value="0.25"/>
		</node>
		<node name="camera" pkg="rm_openni2_camera" type="camera" />
		<node pkg="rm_localization" type="localization" respawn="true" name="localization" output="screen">
		 </node>

	</group>
</launch>
