<launch>

  <node pkg="turtlebot_actions" type="turtlebot_move_action_server" name="move_action_server">
      <remap from="move_action_server/cmd_vel" to="mobile_base/commands/velocity"/>
      <remap from="move_action_server/turtlebot_move" to="turtlebot_move"/>
      <param name="base_frame" value="base_footprint"/>
      <param name="odom_frame" value="odom_combined"/>
  </node>

</launch>
